$orange:#FF8C06;
$light-orange:#FFA621;
$light-yellow:#FFF2DE;
$label-background:rgba(255,167,34,0.15);
$blue:#292B55;
$black: #333333;
$light-grey:#F5F8FA;
$grey:#999;
$dark-grey:#666;
$border-radius-s: 5px;
$border-radius-m: 12px;
$border-radius-l: 24px;
$font-size-s:12px;
$font-size-m:15px;
$font-size-l:18px;
$font-size-xl:24px;
$font-size-xxl:40px;
$font-family: "PingFangSC-Regular";
